# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust
target/

# Frontend
node_modules/
apps/web/dist/

# Local state
data/

.env
.env.restate
.env.web
